.card-title1 {
    font-family: Open Sans;
    font-size: 16px;
    font-weight: 400;
    // line-height: 26px;
    text-align: left;
}

.card-title2 {
    font-family: Open Sans;
    font-size: 20px;
    font-weight: 600;
    // line-height: 26px;
    text-align: left;

}

.icon-color {
    color: #747272;
    font-size: 12px;
    padding: 1px;
}

.text-color {
    color: #747272;
    font-size: 15px;
}

.date-text {
    font-family: Open Sans;
    font-size: 12px;
    font-weight: 600;
    text-align: right;

}